body {
  font-family: sans-serif;
  font-size: 14px;
}

header {
  background-color: #276696;
  color: white;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 3px #222;
  text-align: center;
}

header h1 {
  margin-top: 13px;
  
}



header img {
  position: fixed;
  padding-left: 50px;
  padding-top: 20px;
  left: 0;


}

main {
  width: 1024px;
  margin: auto;
  text-align: left;
  padding-top: 70px;
}

h3 {
  color: black;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.blueButtonLink {
  height: 25px;
  border: 1px solid #3281D1;
  border-radius: 3px;
  margin-right: 4px;
  font-weight: bold;
  font-size: 13px;
  background-color: #3581CE;
  color: #fff !important;
  text-decoration: none !important;
}

.greenButtonLink {
  height: 25px;
  border: 1px solid #00CC88;
  border-radius: 3px;
  margin-right: 4px;
  font-weight: bold;
  font-size: 13px;
  background-color: #00CC33;
  color: #fff !important;
  text-decoration: none !important;
}

td {
  vertical-align: bottom;
  padding-bottom: 5px;
}

input[type=number] {
  margin-left: 30px;
}

#orderForm {
  float: left;
}

#feedback {
  float: right;
  height: 500px;
  width: 600px;
}

#feedback h3 {
  background-color: #f2f2f2;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

#feedback table {
  color: black;
  padding: 10px;
  background-color: #f2f2f2;
  width: 600px;
    border-collapse: collapse;
}

#feedback td {
  padding-right: 50px;
  padding-left: 10px;
}

#feedback tr:nth-child(odd) {
  background: #FFF;
}

#feedback tr:last-child {
  height: 50px;
  background: none;
}
